<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vitor.testevolley">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.vitor.Telas.Simulador"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.example.vitor.Telas.Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.vitor.Telas.CadastroPassageiro"
            android:label="@string/title_activity_cadastro_passageiro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.vitor.Telas.MenuLateral"
            android:label="@string/title_activity_menu_lateral"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.vitor.Telas.RecargaCartao"
            android:label="@string/title_activity_recarga_cartao"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.example.vitor.Telas.GerenciarConta"
            android:label="@string/title_activity_gerenciar_conta"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>